body {
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}
.color-y {color: #fade2d;}
.color-p {color: #de2dfa;}
.color-t {color: #27dbc2;}
.color-w {color: #ffffff;}
.color-dg {color: #6d7473;}
.color-lg {color: #8f9c9a;}
/** HEADER **/
#header-nav {
  background-color: #333333;
  border-radius: 0;
  border: 0;
}

h1 {
  font-size: 64px;
  text-align: center;
  color: black;
  background: #333333;
  text-shadow: #fade2d 0px 0px 5px, #fade2d 0px 0px 10px, #fade2d 0px 0px 15px, 
  #de2dfa 0px 0px 20px, #de2dfa 0px 0px 30px, #de2dfa 0px 0px 40px, 
  #de2dfa 0px 0px 50px, #de2dfa 0px 0px 75px;
  }


#logo-img {
  background: url('../images/zayehalo-logo-inch.png') no-repeat;
  width: 72px;
  height: 72px;
  margin: 10px 15px 10px 0;
}

#logo-square-img {
  background: url('../images/zayehalo-wordmark-square-inch.png') no-repeat;
  width: 72px;
  height: 72px;
  margin: 10px 15px 10px 0;
}

#company-name-img { 
  background: url('../images/zayehalo-wordmark-rectangle-72x219.png') no-repeat;
  width: 219px;
  height: 72px;
  margin: 10px 15px 10px 0;
 }


/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #333333;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
/* END FOOTER */



/* HOME PAGE */

/* END HOME PAGE */






/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/zayehalo-logo-inch.png') no-repeat;

  }
  /* End Header */

  /* Home Page */
  
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



