body {
  font-size: 1.25e;
  color: #ffffff;
  background-color: #333333;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}
.color-y {color: #fade2d;}
.color-p {color: #de2dfa;}
.color-t {color: #27dbc2;}
.color-w {color: #ffffff;}
.color-dg {color: #6d7473;}
.color-lg {color: #8f9c9a;}
/** HEADER **/


h1 {
  font-size: 10vw;
  text-align: center;
  color: black;
  background: #333333;
  text-shadow: #fade2d 0px 0px 5px, #fade2d 0px 0px 10px, #fade2d 0px 0px 15px, 
  #de2dfa 0px 0px 20px, #de2dfa 0px 0px 30px, #de2dfa 0px 0px 40px, 
  #de2dfa 0px 0px 50px, #de2dfa 0px 0px 75px;
  }


.navbar-brand {
    
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3vw;
    text-shadow: #ffffff 0px 0px 5px;
  }


.navbar-brand img {
    display: inline;
    margin: 0px 10px 0px 0px;
}
nav.navbar {
  min-height: 90px;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #333333;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
  margin-top: 15px;
}
/* END FOOTER */



/* HOME PAGE */

/* END HOME PAGE */






/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  
  /* End Header */

  /* Home Page */
  
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  

  
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  
  /* End Header */
  
  /* Home page */
 
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



